html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'SFProDisplay', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* * {
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: black;
} */

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

/* img { 
  display: block;
  width: 100%;
} */


